.member-container {
  background-color: white;
  font-family: Apercu;
  text-align: center;
  padding-bottom: 10%;
  padding-top: 5%;
}
.card-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5vw;
}

.member-container > h1 {
  font-size: 5vw;
}

.member-card {
  background-color: #d9d9d9;
  height: 15vw;
  width: 10vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.name-role {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: black;
}

.name-role > h2 {
  font-size: 1.2vw;
}

.name-role > p {
  font-family: ApercuR;
  font-size: 0.8vw;
}

.member-card > img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0px 0px;
}
