.information-container {
  height: fit-content;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

#selected {
  flex: 2;
}

.about-fbla {
  flex: 1;
  background-color: #0a2e7f;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 5vw;
}

.about-fbla > h1 {
  font-size: 5vw;
  font-family: Apercu;
  color: #f4ab19;
}

.about-fbla > p {
  font-size: 1vw;
}

.why-fbla > h1 {
  font-size: 5vw;
  font-family: Apercu;
  color: #0a2e7f;
}

.about-fbla > p {
  color: white;
  font-family: ApercuR;
  font-weight: lighter;
  width: 70%;
}

.why-fbla {
  flex: 1;
  background-color: #f4ab19;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  text-align: center;
}

.why-button {
  font-family: Apercu;
  border: 0;
  border-radius: 50%;
  color: #0a2e7f;
  background-color: white;
  width: 5vw;
  height: 5vw;
  font-size: 3vw;
  margin: auto;
}
