.information-container {
  height: fit-content;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  transition: all 0.5s;
}

@keyframes expand {
  0% {
    flex: 1;
  }
  100% {
    flex: 2;
  }
}

@keyframes showp {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

.about-fbla {
  flex: 1;
  background-color: #0a2e7f;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  text-align: center;
}

.about-fbla > h1 {
  font-size: 5vw;
  font-family: Apercu;
  color: #f4ab19;
}

.about-fbla > p {
  font-size: 1vw;
  display: none;
  color: white;
  font-family: ApercuR;
  font-weight: lighter;
  width: 70%;
  display: none;
}

.why-fbla {
  flex: 1;
  background-color: #f4ab19;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  text-align: center;
}

.why-fbla > h1 {
  font-size: 5vw;
  font-family: Apercu;
  color: #0a2e7f;
}

.why-fbla > p {
  font-size: 1vw;
  display: none;
  color: white;
  font-family: ApercuR;
  font-weight: lighter;
  width: 70%;
  display: none;
  display: none;
}

.why-button {
  font-family: Apercu;
  border: 0;
  border-radius: 50%;
  color: #0a2e7f;
  background-color: white;
  width: 5vw;
  height: 5vw;
  font-size: 3vw;
  margin: auto;
  transition: all 0.5s;
  animation: pulse 1.5s infinite;
}
.about-button {
  font-family: Apercu;
  border: 0;
  border-radius: 50%;
  color: #0a2e7f;
  background-color: white;
  width: 5vw;
  height: 5vw;
  font-size: 3vw;
  margin: auto;
  transition: all 0.5s;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

#selected {
  animation: expand 1s forwards;
  text-align: left;
  justify-content: left;
}

#selected > p {
  display: block;
  animation: showp 1s forwards;
}

#selected > button {
  display: none;
}

@media (max-width: 900px) {
  .information-container {
    flex-direction: column;
  }
  .about-fbla {
    justify-content: center;
    align-items: center;
  }
  .about-fbla > p {
    font-size: 3vw;
  }
  .about-fbla > h1 {
    font-size: 10vw;
  }
  .why-fbla {
    justify-content: center;
    align-items: center;
  }
  .why-fbla > p {
    font-size: 3vw;
  }
  .why-fbla > h1 {
    font-size: 10vw;
  }
  .why-button {
    width: 10svw;
    height: 10svw;
    font-size: 6svw;
  }

  .about-button {
    width: 10svw;
    height: 10svw;
    font-size: 6svw;
  }
}
