@keyframes open-menu {
  from {
    width: 98%;
    height: 70px;
  }
  to {
    width: 40%;
    height: auto;
    background-color: white, 0.5;
  }
}

@keyframes close-menu {
  from {
    width: 50%;
    height: 50%;
  }
  to {
    width: 98%;
    height: 70px;
  }
}

.navbar {
  height: 70px;
  width: 98%;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 1%;
  right: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: all 0.5s;
}

#small-navbar-open {
  animation: open-menu 0.5s forwards;
  flex-direction: column;
  align-items: center;
}

#small-navbar-open > div {
  margin: 10px auto 10px auto;
}

#small-navbar-open > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#small-navbar-close {
  animation: close-menu 0.5s forwards;
}

.navbar-options {
  display: flex;
}

.navbar-option {
  color: #0a2e7f;
  font-family: Apercu;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.5s;
  border-radius: 20px;
  padding: 10px;
}

.navbar-option:hover {
  background-color: #0a2e7f;
  color: white;
}

.logo {
  height: 2vw;
  width: auto;
  margin: 10px;
}

.small-logo {
  display: none;
}

@media (max-width: 900px) {
  .navbar {
    position: fixed;
  }
  .logo {
    display: none;
  }
  .small-logo {
    height: 70px;
    width: fit-content;
    display: block;
  }
  /* .navbar-option {
    font-size: 1.5vh;
  } */
  .navbar-options {
    display: none;
  }
  .navbar-option {
    margin: 2.5px;
  }
}
