.navbar {
  height: 70px;
  width: 98%;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 1%;
  right: 1%;
  display: flex;
  flex-direction: row;
  align-items:center;
}

.navbar-option {
  color: #0a2e7f;
  font-family: Apercu;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.5s;
  border-radius: 20px;
  padding: 10px;
  font-size: 1vw;
}

.navbar-option:hover {
  background-color: #0a2e7f;
  color: white;
}

.logo {
  height: 2vw;
  width: auto;
  margin: 15px;
}

.small-logo {
  display: none;
}

@media (max-width: 900px) {
  .logo {
    display: none;
  }
  .small-logo {
    height: 70px;
    width: auto;
    display: block;
  }
  .navbar-option {
    font-size: 1.5vh;
  }
  .navbar-options {
    display: none;
  }
}
