.image-container {
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainPic {
  width: 100%;
  height: fit-content;
}

@media (max-width: 900px) {
  .image-container {
    height: 50vh;
  }
  .mainPic {
    height: 100%;
    width: fit-content;
  }
}
